@media screen and (max-width: 1024px) {
  main {
    column-gap: 1rem;
  }

  h1 {
    width: unset;
    font-size: 2.4rem;
  }

  .percent h1 {
    font-size: 2.4rem;
  }

  p {
    width: unset;
  }

  .quicker h2,
  .calender h2,
  .write h2,
  .manage h2,
  .schedule h2,
  .grow h2 {
    width: 80%;
    font-size: 1.9rem;
  }

  .quicker img {
    width: 200px;
    height: 90px;
  }

  .grow h2 {
    width: 40%;
    font-size: 1.6rem;
  }

  .grow img {
    height: 50%;
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  main {
    column-gap: 0.6rem;
  }

  .quicker img {
    width: 200px;
    height: 70px;
  }

  .social_media img {
    width: 200px;
    height: 40px;
    margin-top: unset;
  }

  h1 {
    width: unset;
    font-size: 2rem;
    line-height: 2.1rem;
  }

  .percent h1 {
    font-size: 2rem;
    line-height: 2.1rem;
  }

  .manage h2,
  .schedule h2,
  .grow h2 {
    width: 80%;
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 425px) {
  main {
    height: auto;
    grid-template-areas:
      "a"
      "a"
      "a"
      "b"
      "c"
      "c"
      "d"
      "d"
      "d"
      "d"
      "e"
      "e"
      "e"
      "f"
      "f"
      "g"
      "g"
      "h"
      "h"
      "h";
  }

  .social_media {
    grid-area: a;
    padding: 1rem 0 1rem 0;
  }
  h1 {
    width: 48%;
    font-size: 1.9rem;
  }
  .social_media img {
    margin-top: 1rem;
    width: 200px;
    height: 30px;
  }

  .manage {
    grid-area: b;
  }
  .manage img {
    height: 23%;
    width: 90%;
  }
  .manage h2,
  .calender h2,
  .write h2,
  .quicker h2 {
    width: unset;
  }

  .schedule {
    grid-area: c;
    align-items: unset;
    padding-left: 1.5rem;
  }
  .schedule img {
    height: 62%;
  }

  .calender {
    grid-area: d;
    align-items: center;
    padding: 1rem 0 1rem 0;
    row-gap: 1.1rem;
  }
  .calender img {
    width: 91%;
  }
  p {
    text-align: center;
    width: 90%;
  }

  .grow {
    grid-area: e;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem 0 1rem 0;
    row-gap: 1.7rem;
  }
  .grow h2 {
    width: 70%;
    text-align: center;
    line-height: 1.7rem;
  }
  .grow img {
    height: 75%;
    width: 70%;
  }

  .percent {
    grid-area: f;
    padding: 1.5rem 0 1rem 1.5rem;
  }
  .percent h1 {
    font-size: 2.9rem;
  }

  .quicker {
    grid-area: g;
    align-items: unset;
    padding: 1.5rem 0 1rem 1.5rem;
    row-gap: 1.5rem;
  }
  .quicker img {
    height: 100px;
  }

  .write {
    grid-area: h;
    align-items: unset;
    padding-left: 1.5rem;
    row-gap: 1.5rem;
  }
  .write img {
    height: 70%;
  }
}

@media screen and (max-width: 375px) {
  .calender h2{
    width: 90%;
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 320px) {
  .write {
    padding: 1.5rem 0 1rem 1.5rem;
  }
}
